<nav class="top-nav">
  <div class="nav-container">
    <a class="logo" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/about' | relative_url }}">Chi sono</a></li>
      <li><a href="{{ '/activities' | relative_url }}">Attività</a></li>
      <li><a href="{{ '/interests' | relative_url }}">Interessi</a></li>
      <li><a href="{{ '/contact' | relative_url }}">Contatti</a></li>
    </ul>
  </div>
</nav>
